

body{
  background-color: bisque;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.title{
  margin: 50px 0;
  
}

.day-list{
  display:flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.current-day{
  background-color: rgb(121, 121, 104);
  border: 3px solid black;
  padding: 10px;
  margin: 50px 10px;
}
.day{
  background-color: rgb(132, 127, 127);
  padding: 10px;
  margin: 50px 10px;
}
.day-list-temp {
  display: flex;
  flex-direction: column;

}
.maxTemp{
  font-size: 20px;
  font-weight: 800;
}

select {

  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;

  width: 10em;
  height: 3em;
  padding: 0 4em 0 1em;
  background-color: rgb(88, 79, 79);
  color:azure;
  
}


